.navbar {
  padding: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  color: white !important;
  margin-left: 1rem;
}

.nav-link:hover {
  text-decoration: underline;
}
